.head {
  font-family: "poppins";
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
.para {
  font-family: "poppins";
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}
.btn {
  background-color: #5fdede;
  width: 100px;
  height: 40px;
  border: 1px;
  border-color: black;
  border-radius: 20px;
}
