body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-image: url("https://ik.imagekit.io/4z8covdo9/Full%20stack/todolistbg.png?updatedAt=1700761069523");
  background-size: cover; /* Makes sure the image covers the entire viewport */
  background-position: right; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.container {
  padding: 20px;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Optional: Adds a semi-transparent background for better text visibility */
  box-sizing: border-box;
  border-radius: 10px;
  max-width: 600px;
}

.head {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.p1 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.head2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.p2 {
  font-size: 1em;
  margin-bottom: 30px;
}

.btn {
  background-color: #ffa500;
  color: black;
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #e59400;
}

.link {
  font-size: 0.9em;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  text-decoration: dotted;
}
